/AplicacaoAGJava/build/
/Dawkins-Weasel-Program/AplicacaoAGJava/dist/
/Paradigma_Orientado_a_Objetos/Java/JavaApplication5/nbproject/private/
/Paradigma_Orientado_a_Objetos/Java/JavaExample/nbproject/private/
/Paradigma_Orientado_a_Objetos/Java/JavaExample/build/
